

.filters{
    height: 500px;
    background-color: red;
    /* margin-left: 1.5%; */
    border: 2px solid;
    border-radius: 5px;
    padding: 1%;
    /* position: fixed; */
}

.main{
    margin-top: 8%;
}

#prodImgLaptop{
    height: 100px;
    width: 175px;
}

#prodImgMob{
    height: 200px;
    width: 130px;
}

.product{
    padding: 10px;
}

